<div class="comments">
    <div class="post-icons">
        <ul>
            <a href="#">
                <li class="sprite-main sprite-reply-icon"></li>
            </a>
            <a href="#">
                <li class="sprite-main sprite-like-icon"></li>
            </a>
            <li class="post-time">{{comment.time}}</li>
        </ul>
    </div>
    <div class="post-pic"><img ng-src="{{comment.avatar}}"> </div>
    <div class="post-msg-wrapper">
        <div class="post-name">{{comment.name}}
        </div>
        <div class="post-msg">{{comment.msg}}</div>
    </div>
