<header>
    <div class="logo">
        <a href="/">
            <span class="sprite-main sprite-logo"></span>
            <span class="logo-text">simply</span>
            <span class="logo-text social-text">social</span>
        </a>
    </div>
    <div class="header-right">
        <div class="chat-icon">
            <a href="#"><span class="sprite-main sprite-chat-icon"></span></a>
        </div>
        <div class="searchbox">
            <input type="text" class="form" id="searchform">
            <span class="sprite-main sprite-search-icon"></span>
        </div>
        <div class="profile-avatar">
            <!-- insert from json -->
            <ul class="main-menu">
                <li><a href="#">Profile</a></li>
                <li><a href="settings.html">Settings</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div class="header-below"></div>
</header>
