<div class="row" id="main-wrapper">
    <header>
        <div>
            <h4 ng-class="selectTheme('h4')">School Classroom - {{themeHeader}}</h4>
        </div>
    </header>
    <!-- select theme -->
    <div class="well well-sm pull-left">
        <form class="form-inline">
            <div class="form-group">
                <label class="theme-label">Choose Theme</label>
                <select class="form-control" ng-model="theme" ng-options="theme.value as theme.name for theme in themes" ng-change="switchHeader()">
                </select>
            </div>
        </form>
    </div>

    <!-- filter by grade -->
     <div class="well well-sm pull-left grade-box">
        <form class="form-inline">
            <div class="form-group">
                <!-- <label>Select Grade</label> -->
                <select class="form-control" ng-model="gradeLevel.grade" ng-options="gradeLevel for gradeLevel in gradeLevels" ng-change="gradeChange()">
                <option value="">-Select grade-</option>
                </select>
            </div>
        </form>
    </div>

    <!-- search box -->
    <form action="" class="navbar-form navbar-right search">
        <div class="input-group">
            <input type="Search" placeholder="Search..." class="form-control" ng-model="searchText" />
            <div class="input-group-btn">
                <button ng-class="selectTheme('search')" class="btn btn-info">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
    </form>
    <!-- main content -->
    <div class="container-body">
        <a href="" class="clear-filters" ng-click="clearFilters()">Show All Students</a>
        <div ng-hide="showTable" class="no-results">No results</div>
        <div class="panel panel-default" ng-show="showTable">
            <table class="table table-striped table-bordered" id="searchResults">
                <thead>
                    <tr ng-class="selectTheme('th')">
                        <th class="chkbox"></th>
                        <th>ID</th>
                        <th>Grade Level</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-results" ng-repeat="item in studentInfo | filter: gradeFilter | filter:searchText | filter:gradeLevel:true">
                        <td>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="item.Selected" ng-click="checked(item)">
                            </label>
                        </td>
                        <td>{{item.id}}</td>
                        <td>{{item.grade}}</td>
                        <td>{{item.firstname}}</td>
                        <td>{{item.lastname}}</td>
                        <td>{{item.email}}</td>
                    </tr>
                    <tr ng-show="addRow" class="new-row">
                        <td> </td>
                        <td>
                            {{item.id}}
                        </td>
                        <td>
                            <input type="text" ng-model="item.grade" />
                        </td>
                        <td>
                            <input type="text" ng-model="item.firstname" />
                        </td>
                        <td>
                            <input type="text" ng-model="item.lastname" />
                        </td>
                        <td>
                            <input type="text" ng-model="item.email" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="add-container" ng-show="showButtons">
            <button ng-class="selectTheme('button')" ng-click="add()" ng-hide="displaySave">Add New Student</button>
            <button ng-class="selectTheme('button')" ng-click="save()" ng-show="displaySave">Save</button>
            <button ng-click="cancel()" class="cancel-btn" ng-show="displaySave">Cancel</button>
            <button ng-class="selectTheme('button')" class="pull-right" ng-click="delete($index)">Delete Checked</button>
        </div>
    </div>
</div>
