<div ng-include src="'views/partials/newpost.html'"></div>
<div class="content-tab">
    <ul>
        <li id="post-tab"><a ui-sref="main.posts.all" ng-class="setactiveTab()" class="tabs">All Posts</a></li>
        <li id="photos-tab"><a ui-sref="main.posts.photos" ng-class="setactiveTab()" class="tabs">Photos</a></li>
        <li id="videos-tab"><a ui-sref="main.posts.videos" ng-class="setactiveTab()" class="tabs">Videos</a></li>
    </ul>
</div>
<div class="content">
    <div ui-view></div>
</div>
