        <div id="modal-wrapper"></div>
        <div id="img-wrapper">
            <div class="img-bg">
                <div class="img-content">
                    <a href="#" class="close-modal sprite-other sprite-close-btn" id="image-modal"> </a>
                    <div class="imageMain"></div>
                    <div class="post-detail-wrapper">
                        <div class="post-details"></div>
                        <div class="reply-modal"></div>
                    </div>
                </div>
            </div>
        </div>